/* 公共css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0}
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 16px; line-height: 1.5; font-family:'Alibaba PuHuiTi 2.0','Microsoft Yahei','simsun','arial','tahoma';  color: #333; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a,
img {
    -webkit-touch-callout: none
}
a,
a:active,
a:focus,
a:hover,
a:visited {text-decoration: none}
input[type=password],
input[type=text],
textarea {
    resize: none;
    outline: 0;
    -webkit-appearance: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #fff
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: hsla(0,0%,100%,.2)!important;
}
#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #000;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
}
/* 用户代理样式表 */
div {
    display: block;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Alibaba PuHuiTi 2.0",Microsoft Yahei,simsun,arial,tahoma;
    /* color: #333; */
    overflow: auto;
    height: auto;
       
}
::-webkit-resizer, ::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
::-webkit-resizer, ::-webkit-scrollbar {
    background: transparent;
}
.main{
    min-height: 100vh;
    box-sizing: border-box;
}
.con{
    max-width: 1400px;
    margin: 0 auto;
}
.tl{
    text-align: left;
}
@media screen  and (max-width: 1400px) {
    .con{
        max-width: 100%;
        margin:0 30px;
        /* padding: 0 30px; */
    }
    .paas_content img{
        display: none; 
    }
    .main .paas_table .paas_content{
        padding: 0 30px;
    }
   
}
@media screen  and (max-width: 1200px) {
    .main .banner{
        height: 900px;
    }
    .main .banner .wrapper{
        top: 20%;
    }
    .main .paas_table img{
        height: auto;
    }
    .main .banner .wrapper .hed {
        width: 50%;
    }
    .main .banner .wrapper .fot p {
        width: 90%;
    }
    .main .sevrice .sevrice_list {
        padding: 3% 8%;
    }
    .main .consults .consult .news{
        grid-template-columns: 5fr 5fr;
        column-gap: 20px;
    }
    .main .consults .consult .news .new_list{
        row-gap: 15px;
    }
    .main .consults .consult .news .big_img img{
        width: calc(100% - 30px);
        height: 400px;
    }
    .main .consults .consult .news .new_list .hed{
        padding: 15px;
    }
    #app .paas_table .paas_fot{
        display: grid;
        grid-template-columns:  repeat(2,1fr);
        row-gap: 10px;
    }
    #app .paas_table .paas_fot span{
        text-align: left;
    }
}
@media screen  and (max-width: 970px) {
    #app .banner_box{
        padding: 0 30px;
    }
    .main .sevrice .sevrice_list {
        grid-template-columns: 1fr;
        /* row-gap: 20px; */
    }
    .main .consults .consult .news{
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    #app .paas_table .paas_content .paas_list .hed,#app .paas_table .paas_content .paas_list .mid,#app .paas_user{
        grid-template-columns: 1fr;
    }
    #app .paas_table .mid span{
        font-size: 16px;
    }
}
@media screen  and (max-width: 720px) {
    .main .consults .consult .news .big_img img{
        width: calc(100% - 30px);
        height: 300px;
    }
    .main .footer .menus{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #app .ipollo-header .ipollo-nv-section .logo{
        font-size: 26px;
    }
    .main .banner{
        height: 620px;
    }
    .con{
        margin: 0 10px;
        /* padding: 0 10px; */
    }
    #app .banner .wrapper .hed{
        padding-bottom: 20px;
    }
    #app .banner .wrapper .fot{
        height: 350px;
        padding-top: 20px;
    }
    #app .banner .wrapper .hed span {
        font-size: 28px;
    }
    #app .banner .wrapper .fot p{
        font-size: 20px;
    }
    #app .banner .wrapper .fot .radius{
        height: 200px;
    }
    #app  .main .paas_table, .main .consults{
        padding: 30px 0;
    }
}